{% extends 'base.html' %}

{% block title %} términos y condiciones {% endblock %}
{% load static %}

{% block content %}

<a class='createPlazoRegresar avisoBtn' href="{% url 'ahorro:dashboard' %}"> &lt; REGRESAR &emsp;</a>


    <h1 class="avisoParagraph">
        Cuenta
    </h1>

    <p class="avisoParagraph">
        Disposiciones Generales de Su Cuenta. Cuando el uso de nuestros Servicios requiera de una cuenta, aceptas proporcionarnos información completa y precisa y mantener la información actualizada y nos otorga el permiso para obtener, verificar y registrar información que lo identifique como la persona que crea una cuenta, o accede a los Servicios. Es posible que debamos enviarle correos electrónicos sobre actualizaciones importantes (como cambios a Nuestro Acuerdo o de nuestro aviso de privacidad). Una vez que concluyas exitosamente tu registro, podrás estar habilitado para realizar operaciones en AhorraAhora, según corresponda.
    </p>

    <p class="avisoParagraph">
        Los datos recabados por AhorraAhora del Usuario durante el uso de la Página Web serán tratados por AhorraAhora conforme al Aviso de Privacidad que se incorpora por referencia al documento presente.

        La Página Web cuenta con el cumplimiento a la ley de protección de datos personales en posesión de terceros.
        
        
    </p>

    <p class="avisoParagraph">
        Eres el único responsable de toda la actividad en tu cuenta. A su vez, eres totalmente responsable de mantener la seguridad de tu cuenta (lo que incluye mantener segura tu contraseña, en caso que sea aplicable), por lo que no somos responsables de ningún acto u omisión por tu parte en relación con tu cuenta o los Servicios, incluyendo daños y perjuicios de cualquier tipo que se incurran como resultado de sus actos u omisiones.
    </p>

    <p class="avisoParagraph">
        Te comprometes a no realizar operaciones que puedan interferir, interrumpir o detener la operación, mediante cualquier herramienta informática y/o maliciosa como virus, spyware, malware, troyano o cualquier otro archivo o programa que resulte invasivo o que pueda brindar elementos para el rastreo, dominio remoto u otra acción diferente al uso normal de la Página o de las Aplicacion AhorraAhora, como pueden ser:
    </p>

    <p class="avisoParagraph">
        a)  Descompilar, editar, hacer uso de la ingeniería inversa en perjuicio de cualquier elemento de la aplicación AhorraAhora y/o de la Página.


    </p>

    <p class="avisoParagraph">
        b)  Crear bases de datos sobre la aplicación y/o su funcionamiento, que incluye el uso de bots usados para indexar o compilar información, sin previa autorización por escrito por parte de AhorraAhora.
    </p>

    <h1 class="avisoParagraph">
        Edad mínima
     </h1>

     <p class="avisoParagraph">
        Si es menor de 18 años (o la mayoría de edad legal donde viva), solo puede usar nuestros Servicios bajo la supervisión de un padre o tutor legal que acepte el Acuerdo. Si se registra como usuario o utiliza nuestros Servicios, declara que tiene al menos 18 años.
     </p>

     <h1 class="avisoParagraph">
        Propiedad intelectual
     </h1>

     <p class="avisoParagraph">
        El Acuerdo no le transfiere a Usted ningún tipo de propiedad intelectual o industrial de AhorraAhora o de terceros, y todos los derechos, títulos y participaciones sobre dicha propiedad intelectual o industrial pertenecen únicamente a ahorraahora (o a los Socios Terceros que sean aplicables). ahorraahora y todas las demás marcas registradas, marcas de servicio, gráficos y logotipos utilizados en relación con nuestros sitios web o Servicios son marcas comerciales o marcas registradas de Nosotros o de nuestros licenciantes.
     </p>

     <p class="avisoParagraph">
        Usted reconoce que la Página, y los Servicios están protegidos por la legislación de propiedad intelectual, de propiedad industrial y otra legislación aplicable. Usted acepta no eliminar, alterar u ocultar ningún derecho de autor, marca registrada, marca de servicio u otros avisos de derechos de propiedad intelectual o industrial incorporados o que acompañan a la Página, a la Aplicacion ahorraahora o a los Servicios. El uso de nuestros Servicios no le otorga ningún derecho o licencia para reproducir, modificar o utilizar de otro modo cualquiera de Nuestras marcas registradas o de terceros.
     </p>

     <h1 class="avisoParagraph">
        Descargos de responsabilidad sobre garantías
     </h1>

     <p class="avisoParagraph">
        Ni AhorraAhora, ni sus Socios Terceros, garantizan que nuestros Servicios estarán libres de errores o que el acceso a los mismos será continuo o ininterrumpido o que se encuentran disponibles en cualquier ubicación geográfica. De tiempo en tiempo, puede ocurrir un mantenimiento programado del sistema o un mantenimiento de emergencia, y durante dichos períodos de mantenimiento, la Página y las Aplicaciones AhorraAhora pueden ser inaccesibles y encontrarse no disponibles, con o sin previo aviso a Usted.
     </p>

     <p class="avisoParagraph">
        Usted reconoce que la Página, y los Servicios están protegidos por la legislación de propiedad intelectual, de propiedad industrial y otra legislación aplicable. Usted acepta no eliminar, alterar u ocultar ningún derecho de autor, marca registrada, marca de servicio u otros avisos de derechos de propiedad intelectual o industrial incorporados o que acompañan a la Página, a la Aplicacion ahorraahora o a los Servicios. El uso de nuestros Servicios no le otorga ningún derecho o licencia para reproducir, modificar o utilizar de otro modo cualquiera de Nuestras marcas registradas o de terceros.
     </p>


     <h1 class="avisoParagraph">
        Modificación de los términos y condiciones
     </h1>

     <p class="avisoParagraph">
        En la extensión de lo permitido por la normativa de México y en caso de resultar necesario, y/o a discreción de www.ahorraahora.app, el mismo se reserva el derecho de ampliar y/o aclarar el alcance de los presentes Términos y Condiciones, y/o cualquiera de los procedimientos, los cuales serán comunicados a través de las redes sociales y del portal de la promoción.
     </p>


     {% endblock %}