{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/ahorro.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="saludo">
        hola DK sigue ahorrando
    </div>
    <div class="data">
        {% block content %}
            {% for sistema in plazo %}
            <p>ponga usted aqui su frecuencia {{ sistema.frecuencia }}</p>
            <p>y aqui su tiempo  {{ sistema.tiempo }}  </p>
            <p>y si lo divido <span id="laCadena">{{ sistema.my_list }} </span></p>
                <script type="text/javascript">
                    // var laCadena = document.getElementById("laCadena");
                    var laCadena = "{{ sistema.my_list|escapejs }}";
                    console.log(laCadena)
                </script>
            {% endfor %}
        {% endblock %}
    </div>
        
    

</body>
</html>
