{% extends 'base.html' %}

{% block title %} ARCHIVO {% endblock %}
{% load static %}

{% block content %}


<section class="sectionSystem">
    <div class="dashboard">
        {% if user.is_authenticated %}
        
        
            {% if messages %}
                <div class="messages">
                {% for message in messages %}
                    <div class="{{ message.tags }}">
                    {{ message|safe }}
                        <!-- <a href="#" class="close">x</a> -->
                    </div>
                {% endfor %}
                </div>

                {% else %}
                <!-- <h1 class="titulo"> Hola, {{ request.user.username|default:'Guest'|upper }}!</h1> -->

             {% endif %}

             <p class="boveda">Aqu&iacute; viven<br /> tus ahorros archivados.</p>
             <br>    
    <div class="menuBienvenido unselectable">
        
            <div class="menu">
                <!-- <a href="{% url 'ahorro:logout' %}?next={{request.path}}">SALIR&emsp;</a> -->
                <!-- <a href="{% url 'ahorro:password_change' %}?next={{request.path}}">CAMBIAR CONTRASEÑA&emsp;</a> -->
                <a href="{% url 'ahorro:dashboard' %}?next={{request.path}}">
                    <img src="{% static 'svg/activo.svg' %}" alt="activos">
                    BOVEDA
                </a>
                <a href="{% url 'ahorro:edit' %}?next={{request.path}}">
                    <img src="{% static 'svg/editar.svg' %}" alt="editar">
                    EDITA TU PERFIL
                </a>
        {% else %}
                <a href="{% url 'login' %}">Login</a>
            </div>
        {% endif %}
        
    </div>    
    
        

    </div>

    <!-- <h1 class="titulo">ELIGE TU FRECUENCIA DE AHORRO</h1> -->
    
    <div class="contenedorTarjeta">
        
        {% for frec in archived %}
           
                <a data-tilt data-tilt-glare data-tilt-max-glare="0.01" data-tilt-reverse="true" data-tilt-scale="1.1" href="{{ frec.archived_url }}" class="tarjeta tarjetaDash t1 sombra">
                    
                    <div class="tColor" style="background-color: {{frec.color}};"></div>  

                    <div class="{{ frec.exito }}"> 
                        <p> META CUMPLIDA </p>
                    </div>

                    <p class="txtChico" style="color: {{frec.color}};">Para <span class="tTitulo"> {{ frec.nombre }} </span> llevas:</p>
               
                    <div>
                        {% load humanize %}
                        <h1 id="moneyNumber" class="tCantidadDash" style="color: {{frec.color}};">{{ frec.total_ahorrado|intcomma }}</h1>
                        <p id="metaNumber" class="metaNumber">Meta: ${{ frec.meta|intcomma }}.00 </p>
                    </div>

                    <div class="btnTarjeta {{ frec.exito }}" href="{{ frec.archived_url }}" onMouseOut="this.style.background='{{frec.color}}'" onMouseOver="this.style.background='#FFA941'" style="background-color: {{frec.color}};">DETALLES</div>

                </a>
             
        {% endfor %}

        {% for ahorroF in archivedF %}
           
            <a data-tilt data-tilt-glare data-tilt-max-glare="0.01" data-tilt-reverse="true" data-tilt-scale="1.1" href="{{ ahorroF.archived_url }}" class="tarjeta tarjetaDash t1 sombra">
                
                <div class="tColor" style="background-color: #A5E5A5;"></div>  

                <div style="background-color: #A5E5A5;" class="{{ ahorroF.exito }}"> 
                    <p> META CUMPLIDA </p>
                </div>

                <p class="txtChico" style="color: {{ahorroF.color}};">Para <span class="tTitulo"> {{ ahorroF.nombre }} </span> llevas:</p>
        
                <div>
                    {% load humanize %}
                    <h1 id="moneyNumber" class="tCantidadDash" style="color: {{ahorroF.color}};">{{ ahorroF.total_ahorrado|intcomma }}</h1>
                    <p id="metaNumber" class="metaNumber">Meta: ${{ ahorroF.meta|intcomma }}.00 </p>
                </div>

                <div class="btnTarjeta {{ ahorroF.exito }}" href="{{ ahorroF.archived_url }}" onMouseOut="this.style.background='#A5E5A5'" onMouseOver="this.style.background='#A5E5A5'" style="background-color: #A5E5A5;">DETALLES</div>

            </a>
        
        {% endfor %}

        {% for ahorroAM in archivedAM %}
                
            <a data-tilt data-tilt-glare data-tilt-max-glare="0.01" data-tilt-reverse="true" data-tilt-scale="1.1" href="{{ ahorroAM.archived_url }}" id="cardCumplida" class="tarjeta tarjetaDash t1 sombra">
                
                <div class="tColor" style="background-color: #ED5739;"></div>  

                <!-- <div class="{{ ahorroAM.exito }}"> 
                    <p> META CUMPLIDA </p>
                </div> -->

                <p class="txtChico" style="color: {{ahorroAM.color}};">Para <span class="tTitulo"> {{ ahorroAM.nombre }} </span> llevas:</p>

                <div>
                    {% load humanize %}
                    <h1 id="moneyNumber" class="tCantidadDash" style="color: {{ahorroAM.color}};">{{ ahorroAM.total_ahorrado|intcomma }}</h1>
                    <!-- <p id="metaNumber" class="metaNumber">Meta: ${{ ahorroAM.meta|intcomma }}.00 </p> -->
                </div>

                <div class="btnTarjeta {{ ahorroAM.exito }}" href="{{ ahorroAM.archived_url }}" onMouseOut="this.style.background='#ED5739'" onMouseOver="this.style.background='#ED5739'" style="background-color: #ED5739">DETALLES</div>

            </a>

        {% endfor %}
  


    </div>


</section>

<script>

    var numbers = document.getElementsByClassName("tCantidadDash")

    for (let i = 0; i < numbers.length; i++) {
        // const element = array[index];
        
        if (numbers[i].innerHTML.length == 5){
            numbers[i].style.fontSize = "40px"
           
        } else if (numbers[i].innerHTML.length == 6){
            numbers[i].style.fontSize = "40px"
           
        } else if (numbers[i].innerHTML.length == 7){
            numbers[i].style.fontSize = "30px"
            
        } else if (numbers[i].innerHTML.length == 8){
            numbers[i].style.fontSize = "25px"
            
        } else if (numbers[i].innerHTML.length == 4){
            numbers[i].style.fontSize = "40px"
            
        }else if (numbers[i].innerHTML.length == 9){
            numbers[i].style.fontSize = "25px"
            
        }else if (numbers[i].innerHTML.length == 10){
            numbers[i].style.fontSize = "25px"
            
        }else if (numbers[i].innerHTML.length == 11){
            numbers[i].style.fontSize = "24px"
            
        }else if (numbers[i].innerHTML.length == 12){
            numbers[i].style.fontSize = "23px"
            
        }else if (numbers[i].innerHTML.length == 13){
            numbers[i].style.fontSize = "20px"
            
        }else if (numbers[i].innerHTML.length >= 14){
            numbers[i].style.fontSize = "16px"
            
        }

    }


    function alcancia(){

        anime({
                targets: '.messages',
                
                keyframes: [

                    {scale: 1.1, translateY: -20, color: 'rgba(1,1,1, .0)'},
                    
                    {scale: 1, translateY: 0},
                    
                ],
                // marginTop: 3,
                // easing: 'easeInElastic(1, .6)'
                // easing: 'linear'
            })
          
    }

    alcancia()


</script>

{% endblock %}