<!-- <div  data-barba="wrapper"> -->
{% extends 'base.html' %}
{% load webpush_notifications %}
{% block title %} AHORRO | DASHBOARD {% endblock %}
{% load static %}

{% block content %}
<!-- <div data-barba="container" data-barba-namespace="dashboard" > -->

<div class="loader" id="loader">
    <div style="display: grid; justify-items: center;">
        
        <h2>Estamos preparando tu ahorro.</h2>
        <p>
            La paciencia es necesaria para lograr tus metas.
        </p>
        <div class="contentAnim">
            <div class="loaderAnim01">

            </div>
        </div>
    </div>
</div>
<section class="sectionSystem">

    <div class="dashboard">
        {% if user.is_authenticated %}
        {% load humanize %}  

         
        {% if num_visits > 0 %}
        
            <div id="contenedor-webpush-subscribe-button">
                <p id="mensajeEntra" class="pushActivated">
                
                    </p>
            
            </div>

        {% else %}
         
            <div id="contenedor-webpush-subscribe-button">
                
                {% webpush_button with_class="btnPushNotifications" %}
                    <p id="mensajeEntra" class="pushActivated">
                    O entra a 'EDITA TU PERFIL' para hacerlo despues.
                    </p>
            </div>

        {% endif %}
            
        <p id='visitCounter'>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>

           

            {% if messages %}
                <div class="messages">
                {% for message in messages %}
                    <div class="{{ message.tags }}">
                    {{ message|safe|intcomma  }}
                        <!-- <a href="#" class="close">x</a> -->
                    </div>
                {% endfor %}
                </div>

                {% else %}
                <h1 class="titulo"> Hola, {{ request.user.username|default:'Guest'|upper }}!</h1>

             {% endif %}
             <p class="boveda">Bienvenido a tu <strong>BOVEDA</strong> de control,<br /> aqu&iacute; est&aacute;n tus ahorros activos.</p>
             <br>  
             
             



    <div class="menuBienvenido unselectable">
        
            <div class="menu unselectable">
                <!-- <a href="{% url 'ahorro:logout' %}?next={{request.path}}">SALIR&emsp;</a> -->
                <!-- <a href="{% url 'ahorro:password_change' %}?next={{request.path}}">CAMBIAR CONTRASEÑA&emsp;</a> -->
                <a href="{% url 'ahorro:archived' %}?next={{request.path}}">
                    <img src="{% static 'svg/archivo.svg' %}" alt="archivados">
                    ARCHIVO
                </a>
                <a href="{% url 'ahorro:edit' %}?next={{request.path}}">
                    <img src="{% static 'svg/editar.svg' %}" alt="editar">
                    EDITA TU PERFIL
                </a>
        {% else %}
                <a href="{% url 'login' %}">Login</a>
            </div>
        {% endif %}
        
    </div>    
    
     
    </div>

    <!-- <h1 class="titulo">ELIGE TU FRECUENCIA DE AHORRO</h1> -->
        <section class="gridTarjetasCrea">
    <div id="contenedorTarjetas" class="contenedorTarjeta">
        {% for frec in my_systems %}
           
                <!-- <a data-tilt data-tilt-gyroscope="true" data-tilt-glare data-tilt-max-glare="0.01" data-tilt-reverse="true" data-tilt-scale="1.1" onclick="loaderFunc()" href="{{ frec.get_absolute_url }}" class="tarjeta tarjetaDash t1 sombra"> -->
                    <a onclick="loaderFunc()" href="{{ frec.get_absolute_url }}" class="tarjeta tarjetaDash t1 sombra">    
                    
                    <div class="tColor" style="background-color: {{frec.color}};"></div>  

                    <div class="{{ frec.exito }}"> 
                        <p> META CUMPLIDA </p>
                    </div>

                    <p class="txtChico" style="color: {{frec.color}};">Para <span class="tTitulo"> {{ frec.nombre }} </span> llevas:</p>
               
                    <div>
                        {% load humanize %}
                        <h1 id="moneyNumber" class="tCantidadDash" style="color: {{frec.color}};">{{ frec.total_ahorrado|intcomma }}</h1>
                        <p id="metaNumber" class="metaNumber">Meta: ${{ frec.meta|intcomma }}.00 </p>
                    </div>   
                    <div class="btnTarjeta {{ frec.exito }}" href="{{ frec.get_absolute_url }}" onMouseOut="this.style.background='{{frec.color}}'" onMouseOver="this.style.background='#FFA941'" style="background-color: {{frec.color}};">AHORRAR</div>

                </a>
             
        {% endfor %}

        {% for fija in my_systemsF %}
           
        <a onclick="loaderFunc()" href="{{ fija.get_absolute_url }}" class="tarjeta tarjetaDash t1 sombra">
            
            <div class="tColor" style="background-color: {{fija.color}}; background-color: #A5E5A5;"></div>  

            <div style="background-color: #A5E5A5;" class="{{ fija.exito }}"> 
                <p> META CUMPLIDA </p>
            </div>

            <p class="txtChico" style="color: {{fija.color}};">Para <span class="tTitulo"> {{ fija.nombre }} </span> llevas:</p>
       
            <div>
                {% load humanize %}
                <h1 id="moneyNumber" class="tCantidadDash" style="color: {{fija.color}};">{{ fija.total_ahorrado|intcomma }}</h1>
                <p id="metaNumber" class="metaNumber">Meta: ${{ fija.meta|intcomma }}.00 </p>
            </div>   
            <div class="btnTarjeta {{ fija.exito }}" href="{{ fija.get_absolute_url }}" onMouseOut="this.style.background='#A5E5A5'"  style="background-color: #A5E5A5;" onMouseOver="this.style.background='#A5E5A5'" style="background-color: {{fija.color}};">AHORRAR</div>

        </a>
     
{% endfor %}


    {% for laMeta in my_systemsAM %}
            
        <a onclick="loaderFunc()" href="{{ laMeta.get_absolute_url }}" class="tarjeta tarjetaDash t1 sombra">
            
            <div class="tColor" style="background-color: {{ laMeta.color }}; background-color: #ED5739;"></div>  
            <div  class="espacioVacio" style='display: none;'>

            </div>

            <p class="txtChico" style="color: {{laMeta.color}};">Para <span class="tTitulo"> {{ laMeta.nombre }} </span> llevas:</p>

            <div>
                {% load humanize %}
                <h1 id="moneyNumber" class="tCantidadDash" style="color: {{laMeta.color}}">{{ laMeta.total_ahorrado|intcomma }}</h1>
            </div>   
            <div class="btnTarjeta {{ laMeta.exito }}" href="{{ laMeta.get_absolute_url }}" onMouseOut="this.style.background='#ED5739'"  style="background-color: #ED5739;" onMouseOver="this.style.background='#ED5739'" style="background-color: {{ laMeta.color }};">AHORRAR</div>

        </a>

    {% endfor %}
    

    </div>
        <div class="tarjeta tarjetaDash t4 sombra">
            <div class="tColor" style="background-color: #8d8d8d;"></div>  
            <p style="color: #d8d8d8; margin-top: 20px;">Crea un nuevo AHORRO<br/></p>
            <!-- <h1 class="tTitulo" style="color: #ED5739;">+</h1> -->
            
            <a class="btnNuevoAhorro" href="{% url 'ahorro:system' %}" onMouseOut="this.style.background=initial" onMouseOver="this.style.background=initial"style="font-size: 100px; margin: 0; background-color: initial; color: #8d8d8d;">+</a>
        </div>
</section>


   
</section>


    <!-- <script>
        barba.init({
                transitions: [{
                name: 'opacity-transition',
                leave(data) {
                    return gsap.to(data.current.container, {
                    opacity: 0
                    });
                },
                enter(data) {
                    return gsap.from(data.next.container, {
                    opacity: 0
                    });
                }
                }]
            });

    </script> -->

    <script>
        let tarjetaDash = document.getElementsByClassName('tarjetaDash')
        let tCantidadDash = document.getElementsByClassName('tCantidadDash')
        console.log(tCantidadDash.length)

        for (let i = 0; i < tarjetaDash.length; i++) {  
            if (tCantidadDash[i].innerHTML == '0'){
                tCantidadDash[i].style.fontSize = "80px"
                tarjetaDash[i].style.boxShadow = "0 0 50px #ffffff25"
                
            }
            console.log(tCantidadDash[i])
        }

    </script>

    <script>
        let contenedorSubBtn = document.getElementById('contenedor-webpush-subscribe-button')
        let mensajeEntra = document.getElementById('mensajeEntra')
        let webpushSubscribeButton = document.getElementById('webpush-subscribe-button')
        let webpushMessage = document.getElementById('webpush-message')

        console.log('INNER', webpushSubscribeButton.innerHTML)
        
        function pushChange() {
            setTimeout(function () {
                    if ( webpushSubscribeButton.innerHTML.includes('Desactiva')){
                        console.log('desactiva')
                        contenedorSubBtn.style.top = '-190px'
                    } else {
                        console.log('activa')
                        contenedorSubBtn.style.top = '-41px'
                        
                        webpushSubscribeButton.onclick = () => {
                            
                                mensajeEntra.style.display = 'none'
                            
                        }
                        setTimeout(function(){ contenedorSubBtn.style.top = '-190px'}, 5000)

                    }       
            }, 500);
        }

        pushChange()

        // if ( webpushSubscribeButton.innerHTML.includes('Desactiva')){
        //     console.log('desactiva')
        //     contenedorSubBtn.style.top = '-90px'
        // } else {
        //     console.log('activado')
    
        // }
        </script>

<script>

    var contenedorTarjetas = document.getElementById('contenedorTarjetas')

    
    function orderCards(){
        var parent = contenedorTarjetas;
        var divs = parent.children;
        var tCantidadDash = document.getElementsByClassName('tCantidadDash')
        console.log('tCantidadDash', tCantidadDash)
        var ar = []
        var obj = []
        for (let i = 0; i < tCantidadDash.length; i++) {
            console.log("DIVSVALUE", parseFloat(tCantidadDash[i].innerText.replaceAll(',', '')), i);
            ar.push(parseFloat(tCantidadDash[i].innerText.replace(',', '')) )
            
        }
        ar.sort((a, b) => a - b)  
          
        console.log('LENGTH', ar)


        for (let i = 0; i < ar.length; i++){
            const element = divs
            var divsCh = element[i];
            var chDiv = divsCh.children[3]
            var cantidadFloat = parseInt(chDiv.children[0].innerText.replaceAll(',', ''))
            divsCh.setAttribute('data-order', cantidadFloat)
            console.log('CF', divsCh, i )
            
         
        }
        
        // for (let i = 0; i < ar.length; i++){
        //     let orderBy = divs[i].getAttibute('data-order')
        //     console.log(orderBy)
        // }

        [].map.call( parent.children, Object ).sort( function ( a, b ) {
            return +a.getAttribute('data-order').match( /\d+/ ) - +b.getAttribute('data-order').match( /\d+/ );
        }).forEach( function ( elem ) {
            parent.appendChild( elem );
        });


        

        // obj.sort((a, b) => a - b)  
        // parent.append(obj)



        console.log('array ordered', parent)

    }

    document.addEventListener('DOMContentLoaded', function() {
        orderCards()
    }, false);

    function shuffle() {
        var parent = contenedorTarjetas;
        var divs = parent.children;
        
        
        // var divsInner = divs.innerHTML
        console.log("tCantidadDash", tCantidadDash[1].innerText);
        var ar = [];
        // while (i < divs.length) {
        //     // parent.append(divs.splice(Math.floor(Math.random() * divs.length), 1)[0]);
        //     parent.append(divs.splice(0 , 1, divs[2]));
        //     i++
        // }
        for (let i = 0; i < divs.length; i++) {
            const element = divs[i]
            // tCantidadDash
         

            parent.append(element)
        }
        // console.log('PARENT', parent)
        ar.sort()
        // console.log('PARENT', ar.innerText)
    }

    // shuffle()


    var numbers = document.getElementsByClassName("tCantidadDash")

    for (let i = 0; i < numbers.length; i++) {
        // const element = array[index];
        
        if (numbers[i].innerHTML.length == 5){
            numbers[i].style.fontSize = "40px"
           
        } else if (numbers[i].innerHTML.length == 6){
            numbers[i].style.fontSize = "40px"
           
        } else if (numbers[i].innerHTML.length == 7){
            numbers[i].style.fontSize = "30px"
        
        } else if (numbers[i].innerHTML.length == 8){
            numbers[i].style.fontSize = "28px"
            
        } else if (numbers[i].innerHTML.length == 9){
            numbers[i].style.fontSize = "25px"
            
        }else if (numbers[i].innerHTML.length == 10){
            numbers[i].style.fontSize = "25px"
            
        } else if (numbers[i].innerHTML.length == 4){
            numbers[i].style.fontSize = "40px"
            
        }else if (numbers[i].innerHTML.length == 11){
            numbers[i].style.fontSize = "22px"
            
        }else if (numbers[i].innerHTML.length >= 12){
            numbers[i].style.fontSize = "20px"
            
        }else if (numbers[i].innerHTML.length >= 17){
            numbers[i].style.fontSize = "17px"
            
        }

    }

    var loader = document.getElementById("loader")
    loader.style.display = 'grid'
    
    
    
    function loaderFunc(){
        loader.style.display = "none"

        

        anime({
                targets: '.loader',
                
                keyframes: [

                    {scale: 1, translateY: -20, color: 'rgba(1,1,1, .0)'},
                    
                    {scale: 1, translateY: 0},
                    
                ],
                // marginTop: 3,
                // easing: 'easeInElastic(1, .6)'
                // easing: 'linear'
            })
  
    }

 
    window.addEventListener("load", function(event) {
        loaderFunc();
        console.log("Script terminó de cargarse y ejecutarse");
    });
  
    function alcancia(){

        anime({
                targets: '.messages',
                
                keyframes: [

                    {scale: 1.1, translateY: -20, color: 'rgba(1,1,1, .0)'},
                    
                    {scale: 1, translateY: 0},
                    
                ],
                // marginTop: 3,
                // easing: 'easeInElastic(1, .6)'
                // easing: 'linear'
            })
          
    }

    alcancia()


    function loaderAnimFunc(){

       

        anime({
                targets: '.loaderAnim01',
                loop: true,
                // direction: 'reverse',
                translateY: -30,
                // marginTop: 3,
                // easing: 'easeInElastic(1, .6)'
                // easing: 'linear'
            })

        anime({
            scale: 0.2,
            targets: '.contentAnim',
            loop: true,
            direction: 'reverse',
            rotate: 360,
            translateY: -50,
            // marginTop: 3,
            // easing: 'easeInElastic(1, .6)'
            // easing: 'linear'
        })    

        }

        loaderAnimFunc()

        var myCanvas = document.createElement('canvas');

        var myConfetti = confetti.create(myCanvas, {
            resize: true,
            useWorker: true
        });
        myConfetti({
            particleCount: 100,
            spread: 160
            // any other options from the global
            // confetti function
        });

        let success = document.querySelectorAll('div.success')

        success[0].appendChild(myCanvas);

        console.log('INNEER', success[0].innerHTML)
        if (success[0].innerHTML.includes('Felicidades')){
             confetti({
                particleCount: 100,
                spread: 70,
                origin: { y: 0.6 },
                colors: ['#FFA941'],
            });
        



        } 


     

       

</script>
<!-- </div> -->
<!-- </div> -->
{% endblock %}