{% extends 'base.html' %}

{% block title %} AHORRO | DASHBOARD {% endblock %}

{% load static %}

{% block content %}


<section class="sectionSystem">
    <div class="dashboardFierros">
        {% if user.is_authenticated %}
        
        
            {% if messages %}
                <div class="messages">
                {% for message in messages %}
                    <div class="{{ message.tags }}">
                    {{ message|safe }}
                        <!-- <a href="#" class="close">x</a> -->
                    </div>
                {% endfor %}
                </div>

                {% else %}
                <h1 class="titulo"> Hola, {{ request.user.username|default:'Guest' }}!</h1>

             {% endif %}
        
             <p class="boveda">Estadisticas de ahorraahora.app</p>
        
            <div class="menu">
                <!-- <a href="{% url 'ahorro:logout' %}?next={{request.path}}">&larr;SALIR&emsp;</a> -->
                <!-- <a href="{% url 'ahorro:password_change' %}?next={{request.path}}">CAMBIAR CONTRASEÑA&emsp;</a> -->
                <a href="{% url 'ahorro:edit' %}?next={{request.path}}">
                    <img src="{% static 'svg/editar.svg' %}" alt="editar">
                    EDITA TU PERFIL
                </a>
        {% else %}
                <a href="{% url 'login' %}">Entrar</a>
            </div>
        {% endif %}
        
        <br>    
        
    </div>    

    <!-- <h1 class="titulo">ELIGE TU FRECUENCIA DE AHORRO</h1> -->
    <div class="contentCentered">
    <div class="contenedorTarjetaFierros">


        <div class=" tarjetaDash t1 sombra estadisticCardUsers">
            
           
            
          
            
                    <h1 style="color: {{frec.color}};">Total de usuarios</h1>
                    <h1 id='usuariosTotal' class="eTitulo"> {{ total_users}} </h1>
               
               
                
        </div>

        
        <div class="tarjetaDash t1 sombra estadisticCardMotivo">
            
            <!-- <div class="tColor"></div>   -->
            
                <h1>Motivo de Ahorro</h1>
                <div  class="contenedorData">
                    {% for frec in my_systems %}
                        <p id='motivosAhorros' class="eData motivosAhorros"> {{ frec.nombre }} </p>
                    {% endfor %}
                    {% for frec in my_systemsF %}
                        <p class="eData motivosAhorros"> {{ frec.nombre }} </p>
                    {% endfor %}
                    {% for frec in my_systemsAM %}
                        <p class="eData motivosAhorros"> {{ frec.nombre }} </p>
                    {% endfor %}
                </div>
                
        </div>


   
        {% load humanize %}


        <div class="tarjetaDash t1 sombra estadisticCardMetas">
            
            
            
            <h1>Metas de ahorro {{ my_systems.count }}</h1>
            <div style="display: none;" class="contenedorData">
                {% for pl in my_systems %}
                    <p id='metasAhorros' class="eData metasAhorros"> ${{ pl.meta|intcomma }}.00 </p>
                {% endfor %}
                {% for pl in my_systemsF %}
                    <p class="eData metasAhorros"> ${{ pl.meta|intcomma }}.00 </p>
                {% endfor %}
            </div>  
            
            <div class="contenedorData" id="metasDeAhorro">

            </div>
                
        </div>




        <div class=" tarjetaDash t1 sombra estadisticCardTotal">
            
            
            
          
            
                    <p style="color: {{frec.color}};">Total ahorrado</p>
                    <h1 class="eTitulo"> ${{ by_meta|intcomma }}.00 </h1>
               
               
                
        </div>


        <div class="tarjetaDash t1 sombra estadisticCardUserMeses">
            <h1>Nuevos usuarios por mes</h1>
            {% regroup users by date_joined|date:"M" as dateG %}
            <ul>
                <div class="contenedorData">
                {% for d in dateG %}
                <li>  
                    <p class="eData"> {{ d.grouper }}</p>
                    <ul>
                    {% for date in d.list %}
                        <li> 
                            <p id='usuariosMes'> {{ date.date_joined|date:"Y/m/d"}} </p>
                        </li>
                        {% endfor %}    
                    </ul>    
                </li>
                {% endfor %}
                </div>
            </ul>
            
        
                
        </div>

     

             
  
    </div>

</div>

    

</section>

<script>

    var numbers = document.getElementsByClassName("tCantidadDash")

    for (let i = 0; i < numbers.length; i++) {
        // const element = array[index];
        
        if (numbers[i].innerHTML.length == 5){
            numbers[i].style.fontSize = "40px"
           
        } else if (numbers[i].innerHTML.length == 6){
            numbers[i].style.fontSize = "40px"
           
        } else if (numbers[i].innerHTML.length == 7){
            numbers[i].style.fontSize = "30px"
            
        } else if (numbers[i].innerHTML.length >= 8){
            numbers[i].style.fontSize = "25px"
            
        } else if (numbers[i].innerHTML.length == 4){
            numbers[i].style.fontSize = "40px"
            
        }

    }

</script>

<script>
    var metasDeAhorro = document.getElementById('metasDeAhorro')
    var metasAhorros = document.getElementsByClassName('metasAhorros')
    var metaAhorrosArray = []
    var current = null;
    var pFontSize = 16
    var cantidadesFinales = []
    var arrayFinales = []
    var tag

    cnt = 0

    console.log('metasAhorros', metasAhorros)

    for (let i = 0; i < metasAhorros.length; i++) {
        const element = metasAhorros[i].lastChild.data;
        metaAhorrosArray.push(element)
        console.log(element)       
    }
    console.log(metaAhorrosArray)     
    console.log(metaAhorrosArray.sort()) 
    
    for (let i = 0; i <= metaAhorrosArray.length; i++) {
        if (metaAhorrosArray[i] != current){
            if (cnt > 0){
                // document.write(current + ' comes --> ' + cnt + ' times<br>')
                tag = document.createElement("p")
                numTag = document.createElement("p")
                tagCont = document.createElement("div")
                tagCont.style.cssText = "display: grid;grid-auto-flow: column;"
                tag.style.cssText = "font-size:" + (pFontSize + cnt) + "px" 
                numTag.style.cssText = "font-size: 10px" 

                cantidadesFinales[i] = document.createTextNode( current)
                var cantidadCh = document.createTextNode(cnt)
                // metasDeAhorro.appendChild(cantidadesFinales[i])
                numTag.appendChild(cantidadCh) 
                tag.appendChild(cantidadesFinales[i])
                
                tagCont.appendChild(numTag)

                tagCont.appendChild(tag)
                metasDeAhorro.appendChild(tagCont)



                // arrayFinales.push(cantidadesFinales[i])
                
            }

            
            current = metaAhorrosArray[i]
            cnt = 1
        }else{
            cnt++
        }

        // metasDeAhorro.appendChild(tag)

        
    }



    </script>

{% endblock %}