{% extends "base.html" %}

{% block title %}Edit your account{% endblock %}
{% load static %}
{% block content %}

<section class="sectionUser">

    <style>
        input[type = file]{
            background-color: revert;
        }
    </style>

    <div class="welcomeText">
        <div class="logText">
            <h1>Edita tu cuenta</h1>
            <br />
            <!-- <p>Entra para registrar tus ahorros</p> -->
            <!-- <h1>Edit your account</h1> -->
            <p>Edita tu cuenta con este formulario y regresa a ahorrar:</p>

            <div>
                <br>
                <a class="bullet" href="{% url 'ahorro:dashboard' %}"> &lt; REGRESAR &emsp;</a>
                <a class="bullet" href="{% url 'ahorro:logout' %}?next={{request.path}}">SALIR&emsp;</a>
                <a class="bullet" href="{% url 'ahorro:password_change' %}?next={{request.path}}">CAMBIAR CONTRASEÑA&emsp;</a>
        
                
            </div>

        </div>
    </div>    

    <div class="login-form logForm">
        <div class="formContainer">
            <form action="." method="post" enctype="multipart/form-data">
                {{ user_form.as_p }}
                {{ profile_form.as_p }}
                {% csrf_token %}
                <p><input id="enviar" type="submit" value="SALVAR"></p>
            </form>
        </div>
    </div>



</section>
{% endblock %}