{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/ahorro.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <section class="sectionUser">
        <div class="logText">
            <h1>Esta es la idea</h1>
            <br />
            <p>Vas a ahorrar durante un año con la frecuencia que elijas una cantidad aleatoria que no se va a repetir. Mediante un e-mail o un mensaje SMS, el que tu elijas, nosotros te avisaremos cuándo tienes que realizar tu ahorro y que cantidad, la cual será aleatoria, por defecto es; entre $365.00 y $1.00 peso, pero, tu lo puedes personalizar según tus metas.Guardaremos tu avance para que lo consultes cuando quieras.</p>
        </div>
        <div class="logForm">
            <h1>TE AYUDAMOS A AHORRAR</h1>
            <div class="formContainer">
                <form action="">
                    <label for=""> nombre </label>
                    <input type="text" id="nombre" name="nombre">
                    <label for="">  e-mail </label>
                    <input type="text" id="email" name="email">
                    <label for=""> contraseña </label>
                    <input type="text" id="pass" name="pass">
                    <input id="enviar" type="submit" value="ENVIAR">
                </form>
            </div>
        </div>
    </section>

</body>
</html>