{% extends 'base.html' %}

{% block title %}Create an account{% endblock %}

{% block content %}


<section class="sectionUser">


    <div class="welcomeText">
       
  
        <div class="logText">
          <h1>Esta es la idea</h1>
          <br />
          <br />
          <p>Vas a ahorrar durante el <span> tiempo</span> que elijas con la <span>frecuencia</span> que escojas una <span>cantidad</span> aleatoria o fija, tenemos tres sistemas de ahorro.
            <br /> 
        Te vamos a enviar un e-mail y/o una notificación PUSH, para recordarte cuándo tienes que ahorror, la plataforma te dirá que cantidad de acuerdo al sistema que hayas escogido. Puedes crear cuantos ahorros quieras.
        <br />  <br />Guardaremos tus avances para que los consultes cuando quieras. :)</p>
        </div>
    </div>  



    <div class="login-form logForm">

        <h2>Regístrate</h2>

        {% if messages %}
        <div class="messages">
        {% for message in messages %}
            <div class="{{ message.tags }}">
            {{ message|safe }}
                <!-- <a href="#" class="close">x</a> -->
            </div>
        {% endfor %}
        </div>
    {% endif %}

        <div class="formContainer">
            <!-- <form action="." method="post">
                {% csrf_token %}
                {{user_form.as_p}}
                <input id="enviar" type="submit" value="ENVIAR">
            
            </form> -->




        <form class="ui large form" method="post" action={% url 'ahorro:register' %}>
        <!-- <form class="ui large form" method="post" action="."> -->

            {% csrf_token %}
            <div class="ui stacked segment registerForm">

              <div class="field">
                <div class="ui left icon input">
                  <i class="user icon"></i>
                  <label for="email">
                    Nombre
                    <p class="insidLabel">
                      o ¿cómo te gusta que te digan?
                    </p>
                  
                  </label>

                  <input type="text" name="username" value="{{data.username}}"  placeholder="" />
                </div>
              </div>
  
              <div class="field">
                <div class="ui left icon input">
                  <i class="user icon"></i>
                  <label for="email">
                    email
                    <p class="insidLabel">
                      lo usaremos para recordarte ahorrar 
                    </p>
                  </label>
                  <input type="text" name="email" value="{{data.email}}" placeholder="" />
                </div>
              </div>

              <div class="field">
                <div class="ui left icon input">
                  <i class="lock icon"></i>
                  <label for="email">password

                    <p class="insidLabel">
                      lo usaras tú para regresar, junto con tu nombre
                    </p>

                  </label>

                  <input type="password" name="password" placeholder="" />
                </div>
              </div>
  
              <div class="field">
                <div class="ui left icon input">
                  <i class="lock icon"></i>
                  <label for="email">Repite el password</label>

                  <input
                    type="password"
                    name="password2"
                    placeholder=""
                  />
                </div>
              </div>

              <div class="field">
                <input
                type="checkbox"
                name="terminos"
                placeholder=""
              />
              <div>
                He leido y estoy de acuerdo con los <a href="{% url 'ahorro:terminos' %}"> T&Eacute;RMINOS Y CONDICIONES</a>
              </div>
                

            </div>



            <div class="field">

              <input
              type="checkbox"
              name="aviso"
              placeholder=""
            />              
              <div>
                He leido y estoy de acuerdo con el<a href="{% url 'ahorro:privacidad' %}"> AVISO DE PRIVACIDAD</a>
              </div>

          </div>


              <button class="ui fluid large teal submit button">A Ahorrar</button>

            </div>
  
          </form>


            

        </div>


        <a href="{% url 'ahorro:login' %}">VOLVER</a>

    </div>
</section>
{% endblock %}
