{% extends 'base.html' %}

{% block title %} {{ sistema.nombre|title }} {% endblock %}
{% load static %}

{% load mathfilters %}

{% block content %}
<!-- <div data-barba="container" data-barba-namespace="detalle">  -->


    <div class="loader" id="loader">
        <div style="display: grid; justify-items: center;">
            
            <h2>Estamos preparando tu ahorro.</h2>
            <p>
                La paciencia es necesaria para lograr tus metas.
            </p>
            <div class="contentAnim">
                <div class="loaderAnim01">
    
                </div>
            </div>
        </div>
    </div>

    <div class="saludo">
        {% load humanize %}

        {% if my_ahorro >= sistema.meta %}
        <h3><span class="upperCase"> {{ user.username|default:'Guest' }} </span> </h3><h6> Lograste tu meta para {{ sistema.nombre }} </h6 >
        <p >¡Felicidades!</p>

           
           
            <a  href="{% url 'ahorro:dashboard' %}"> &lt; REGRESAR </a>
            
        {% else %} 
        <!-- <h3>Hola <span class="upperCase"> {{ user.username|default:'Guest' }} </span> </h3> -->
        <h5>Sigue ahorrando para
           
        </h5>
        <p class="upperCase">
            {{ sistema.nombre }}
            <a onclick=showFormEditar() class="iconLapiz">
         
                <img src="{% static 'img/lapizIcon.png' %}" alt="editar">
                <span class="toolTip">
                    Editar
                </span>
            </a>    
        </p>

            <p id="metaNumber" class="metaNumber">Ahorro {{ ahorro|length|add:1 }} / {{ sistema.tiempo|div:sistema.frecuencia|floatformat:'0' }}
                <span id="metaNumber" class="metaNumber"> Meta ${{ sistema.meta|intcomma }}.00 </span>
            </p>
           
            <p id="metaNumber" class="metaNumber">
                Por {{ sistema.tiempo|div:365|floatformat }}
                {% if sistema.tiempo == "365" %} año {% else %} años {% endif %}
                <span id="metaNumber" class="metaNumber">
                    
                    {% if sistema.frecuencia == "1" %} diario{% else %} cada {{ sistema.frecuencia }} d&iacute;as{% endif %}.
                </span>
            </p>


            <p id='visitCounter'>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>


          

            {% if sistema.email or sistema.push%}
                <p class="metaNumber">  
                    Tu recordatorio es
                    {% if sistema.email %} por email {% endif %}
                    {% if sistema.email and sistema.push%} y {% endif %}
                    {% if sistema.push %} con notificaciones push  {% endif %}
                    <a onclick=showFormEditar() class="iconLapiz">
         
                        <img src="{% static 'img/lapizIcon.png' %}" alt="editar">
                        <span class="toolTip">
                            Editar
                        </span>
                    </a>  
                 
                </p>
            {% endif%}

            <a  href="{% url 'ahorro:dashboard' %}"> &lt; REGRESAR </a>
        {% endif%}

            
        </div>

        <div id="hFormEditar">

            <form method="POST" enctype="multipart/form-data">    
                {% csrf_token %}
                {{ formEditarAhorro }}
                
                <a id ="cancelDdelete" onclick=hideFormEditar() name="NoEditarButton" >CANCELAR</a>
                <input type="submit" id="editarAhorroBtn" value="SALVAR">
            </form>
        </div>


        <section id="fullcontenedorCasillas">   
            <div id="contenedorCasillas">    

                <div class="casillaCantidad">
 
                    {% if my_ahorro >= sistema.meta %}

                    <div id="cantidad" style="display: none;">
                        <div id="btnFirst"> </div>
                        <div id="otro"></div>
                        <div id="rData"></div>
                        <div id="ahorrar"></div>
                    </div>

                    <div id="exito" class="exito casilla">
                        ¡CUMPLISTE <br />TU META!
                    </div> 

                    {% else %}

                    <div id="exito"></div>
                    <div id="casillaCantidad" class="casilla cantidad sombra">
                        <p>CANTIDAD A AHORRAR</p>

                        <div id="btnFirst" onclick="firstRandom();" class="btnFirst">
                            CLIC <br /> PARA  SABER <br />CUANTO AHORRAR
                        </div>
                        <div class="nData" id="rData" >
                            <div class="nDecorado"> </div>
                            <div class="aNumber number">
                                <span></span>
                                <div id="cantidad" class="rCantidad">0</div>
                            </div>
                        </div>
                        <button onclick="getMyNumber();" id="otro" class="unselectable btn otro">
                            OTRA CANTIDAD &#8634;
                        </button>
                        <button onclick="autoPress(ahorrarBtn), deactivate();" id="ahorrar" class="unselectable btn ahorrar">
                            AHORRAR
                        </button>
                    </div>
                    {% endif%}
                    
                </div>

                <div id="casAhorrado" class="casillaAhorrado">
                    <div class="casilla ahorrado sombra">
                        <p>TOTAL AHORRADO</p>
                        <div id="lDetalle" class="lDetalle">  
                            {% load humanize %}     
                            {% load l10n %}                    
                            {% localize on %}
                                {% for a in ahorro %}
                                    <p>
                                    {{ a.fecha.date }}
                                    <span class="numberListDetail">{{ a.cantidad|intcomma }}</span></p>
                                {% endfor %}
                            {% endlocalize %}

                            

                            <!-- <p>1 de enero $32.00</p><p>2 de enero $55.00</p><p>3 de enero $18.00</p><p>5 de enero $17</p><p>6 de enero $445.00</p><p>7 de enero $275.00</p><p>8 de enero $275.00</p> -->

                        </div>

                        <div class="nData" id="nData">
                            <div class="nDecorado" id="detailDecorado"> </div>
                            <div class="number" id="numberDecorado">
                                <span></span>
                                {% load humanize %}
                                <div id="ahorrado">{{ my_ahorro|intcomma  }}</div>
                                
                            </div>    
                        </div>

                        <button onclick="detalleList(); window.location.href='#casAhorrado';" id="ver" class="unselectable btn detalle">
                            VER DETALLE
                        </button>
                        <button onclick="detalleList();" id="ocultar" class="unselectable btn detalle">
                            OCULTAR DETALLE
                        </button>
                    </div> 
                </div>
           </div> 
        </section>

    <div class="contenedorBorrarSistema"> 
        <div class="borrarSistema">
            <form id="deleteForm" method="GET" enctype="multipart/form-data">
                
                <p>¿Estás segur@ que quieres borrar este ahorro?</p> 
                
                <button id ="delete" name="DeleteButton" value="{{ sistema.id }}">BORRAR</button>
                
                <button id ="cancelDdelete" onclick="formBorrarThird()" name="NoDeleteButton" >CANCELAR</button>
            
            </form>
        </div>
    </div>

    <div class="contenedorArchivarSistema"> 
        <div class="borrarSistema">
            <form id="deleteForm" method="GET" enctype="multipart/form-data">
                
                <p>¿Estás segur@ que quieres archivar este ahorro?</p> 
                
                <!-- <a onclick="autoPress(archiveBtn);" id ="archive" name="ArchiveButton">ARCHIVAR</a> -->
                <button value="{{ sistema.id }}" id ="archive" name="ArchiveButton">ARCHIVAR</button>
                
                <button id ="cancelDdelete" onclick="formArchivarThird()" name="NoDeleteButton" >CANCELAR</button>
            
            </form>
        </div>
    </div>


    <div class="botonesDetail">
        <button class="detalleD" onclick="formBorrarSecond()" id ="deleteFStep"> BORRAR SISTEMA </button>

        <button id="btnArchivar"  class="detalleD" onclick="formArchivarSecond(), selectArchived()"> ARCHIVAR SISTEMA </button>
    </div>
        <!-- <form action="/cantidad/" method="post"> -->
        <form id="hForm" method="POST" enctype="multipart/form-data">    
            {% csrf_token %}
            {{ form }}
            
            <input onclick="alcancia()" style="background-color: black; padding: 10px 10px;" type="submit" id="ahorrarBtn" value="AHORRALE">
        </form>

        <!-- archive form -->
      

     
            <!-- <p>ponga usted aqui su frecuencia {{ plazo.frecuencia }}</p>
            <p>y aqui su tiempo  {{ plazo.tiempo }}  </p>
            <p>y si lo divido <span id="laCadena">{{ plazo.my_list }} </span></p>
            -->
            <script src="{% static 'js/fittext.js' %}"></script>
            <script type="text/javascript">
                fitText( document.getElementById("ahorrado"), 1.5 );
                fitText( document.getElementById("cantidad"), 0.5 );

            </script>   
            
            <!-- formulario para cambiar el nombre y las notificaciones -->
                <script>

                    var saludo = document.getElementsByClassName('saludo')
                    var ahorroName = saludo[0].getElementsByTagName('p')
                    var nombre = ahorroName[0].innerText
                    var ahorroNombre = document.getElementById('id_ahorro_nombre')
                    ahorroNombre.value = nombre

                    var email = document.getElementById('id_email')
                    var push = document.getElementById('id_push')

                    var emailModel = ["{{ sistema.email|escapejs }}"];
                    var pushModel = ["{{ sistema.push|escapejs }}"];

                    // if (emailModel){
                    // email.setAttribute('checked', emailModel[0].toLowerCase())
                    // console.log('mostBE', emailModel[0].toLowerCase())
                    console.log(emailModel)
                    // }else{
                        // email.setAttribute('checked', emailModel[0].toLowerCase())
                    // }

                    if (emailModel[0] === 'True'){
                        email.setAttribute('checked', true)
                    }
                    // else{
                    //     email.setAttribute('checked', true)

                    // }

                    if (pushModel[0] === 'True'){
                        push.setAttribute('checked', true)
                    }
                    // else{
                    //     push.setAttribute('checked', false)

                    // }

                var hFormEditar = document.getElementById('hFormEditar')
                hFormEditar.style.display = 'none' 


                function showFormEditar(){
                  hFormEditar.style.display = 'grid' 
                }

                function hideFormEditar(){
                  hFormEditar.style.display = 'none' 
                }

                    </script>



            
                <script type="text/javascript">


                    var id_not_archived = document.getElementById("id_not_archived");
                    var id_cantidad = document.getElementById("id_cantidad");
                    function selectArchived(){
                        id_cantidad.value = 0;
                        id_not_archived.checked = false;
                    }


                    function autoPress(btnToPress){
                        btnToPress.click()
                        console.log("here yo go")
                    }



                    function autoPress(btnToPress){
                        btnToPress.click()
                    }
                    
                    var ahorrarBtn = document.getElementById('ahorrarBtn');

                    var id_sistema = document.getElementById("id_sistema");

                    function removeOptions(selectbox)
                        {
                            var i;
                            for(i=selectbox.options.length-1;i>=0;i--)
                            {
                            if(selectbox.options[i].selected)
                            selectbox.remove(i);
                            }
                        }
                    removeOptions(id_sistema)    

                    var getSistemName = "{{ sistema.id }}"
                    id_sistema.value = getSistemName;
                    console.log("*************", id_sistema.value)
                    // var selectSistema = id_sistema.options[id_sistema.selectedIndex].text;
                    var ahorrado = document.getElementById("ahorrado");
                    var nData = document.getElementById("nData");
                    var formCantidad = document.getElementById("id_cantidad");
                    
                    var lDetalle = document.getElementById("lDetalle");
                    var btnFirst = document.getElementById("btnFirst");
                    var otro = document.getElementById("otro");
                    var ahorrar = document.getElementById("ahorrar");
                    var numberDecorado = document.getElementById("numberDecorado");
                    var detailDecorado = document.getElementById("detailDecorado");
                    var ocultar = document.getElementById("ocultar");
                    var ver = document.getElementById("ver");
                    ocultar.style.display = "none";
                    btnFirst.style.display = "inherit";
                    otro.style.display = "none";
                    ahorrar.style.display = "none";
                  
                    // lDetalle.style.display = "none";

                    console.log(">>>>>>>>", ahorrado.innerHTML.length)

                    if (ahorrado.innerHTML.length == 5){
                        ahorrado.style.fontSize = "65px"
                        // ahorrado.style.marginTop = "25px"
                    } else if (ahorrado.innerHTML.length == 6){
                        ahorrado.style.fontSize = "59px"
                        // ahorrado.style.marginTop = "33px"
                    } else if (ahorrado.innerHTML.length == 7){
                        ahorrado.style.fontSize = "50px"
                        // ahorrado.style.marginTop = "41px"
                    } else if (ahorrado.innerHTML.length >= 8){
                        ahorrado.style.fontSize = "40px"
                        // ahorrado.style.marginTop = "50px"    
                    } else if (ahorrado.innerHTML.length == 4){
                        ahorrado.style.fontSize = "83px"
                        // ahorrado.style.marginTop = "6px"
                    }else{
                        ahorrado.style.fontSize = "90px"
                            }

                

                    var yes = 2;     

                    function deactivate(){
                        // ahorrar.style.display = "none";
                        ahorrar.style.pointerEvents = "none";
                        ahorrar.style.cursor = "wait";
                        // alert('this does not work')
                    }
                                        
                    function detalleList() {
                        if (yes > 1) {
                            lDetalle.style.display = "inherit";
                            lDetalle.style.height = "249px";
                            lDetalle.style.padding = "21px";
                            lDetalle.style.paddingTop = "51px";
                            // lDetalle.style.overflow = "hidden";
                            // lDetalle.style.overflowY = "scroll";
                            numberDecorado.style.paddingTop = "36px";
                            detailDecorado.style.marginTop = "117px";
                            detailDecorado.style.width = "260px";
                            ocultar.style.display = "inherit";
                            ocultar.style.height = "47px";
                            // ocultar.style.position = "absolute";
                            ocultar.style.marginTop = "-558px";
                            ocultar.style.transform = "rotate(0deg)"
                            ver.style.display = "none";
                            yes = 0;
                            nData.style.gridRowStart = "3";
                            ocultar.style.opacity = "1";
                            if (lDetalle.childNodes.length > 8){
                                lDetalle.style.overflowY = "scroll";
                                console.log('cuantos tiene el detalle', lDetalle.childNodes.length)
                            }
                        } else {
                            ocultar.style.transform = "rotate(1deg)";
                            ocultar.style.marginTop = "-798px";
                            ocultar.style.opacity = "0";
                            nData.style.gridRowStart = "auto";
                            lDetalle.style.height = "0px";
                            lDetalle.style.padding = "0px";
                            // lDetalle.style.overflow = "auto";
                            numberDecorado.style.paddingTop = "0px";
                            detailDecorado.style.marginTop = "84px";
                            detailDecorado.style.width = "-webkit-fill-available";
                            // ocultar.style.display = "none";
                            ver.style.display = "inherit";
                            yes = 2;
                        }
                        console.log("el valos de YES", yes)
                    }


                    // code for sleep
                    function sleep(milliseconds) {
                        const date = Date.now();
                        let currentDate = null;
                        do {
                            currentDate = Date.now();
                        } while (currentDate - date < milliseconds);
                    }
                    
                    // var laCadena = document.getElementById("laCadena");
                    // var laCadena = ["{{ plazo.my_list|escapejs }}"];
                    // var laCadena = ["{{ sistema.my_list|escapejs }}"];
                    // var laCadena = ["{{ sistema.description|escapejs }}"];
                    var laCadena = ["{{ listaFinal|escapejs }}"];
                    console.log("A NO MANCHES", laCadena)
                    
                    var cantidad = document.getElementById("cantidad");
                    var nuevaCadena = Array.from(laCadena);
                    var extractFirst = nuevaCadena[0]
                    var getArray = []
                    extractFirst = extractFirst.replace("[", "")
                    extractFirst = extractFirst.replace("]", "")
                    
                    for (let i = 0; i < extractFirst.length; i++) {
                        extractFirst = extractFirst.replace(" ", "")
                    }
                    
                    getArray = extractFirst.split(',')
                    var max = getArray.length
                    var min = 0
                    console.log(getArray.length)
                    console.log(min)
                    console.log(max)
                    
                    var casillaCantidad = document.getElementById("casillaCantidad");
                    
                    var exito = document.getElementById("exito");    
                    // exito.style.display = "none"                
                    // if (getArray[0] === "") { 
                        //     casillaCantidad.style.display = "none";
                        //     exito.style.display = "grid";
                        //     console.log("Array is empty!")
                        //  }
                        
                    var thenumbers = 0
                        
                    var rData = document.getElementById("rData")
                    rData.style.display = "none";
                    console.log('˘¯˘¯˘¯˘¯˘¯˘¯˘¯˘¯˘¯˘¯˘¯˘¯˘¯˘¯˘')
                        
                    function getMyNumber(){
                        
                        var intval = setInterval(function(){randomNumber();}, 0.1);

                        function randomNumber(){
                            var random = Math.floor(Math.random() * (+max - +min)) + +min;
                            const numberFormat2 = new Intl.NumberFormat('en-US');
                            // resultado = numberFormat2.format(cifra);
                            rData.style.display = "grid";
                            cantidad.innerHTML = numberFormat2.format(getArray[random]);
                            // cantidad.innerHTML = getArray[random]
                            formCantidad.value = getArray[random];
                            thenumbers += 1;
                            console.log("the numbers?", thenumbers)

                            // SI ES GRANDE EL NUEMRO REDUCIR SU TAMAÑO
                            if (cantidad.innerHTML.length == 4){
                                cantidad.style.fontSize = "83px"
                                // cantidad.style.marginTop = "12px"
                            } else if (cantidad.innerHTML.length == 5){
                                cantidad.style.fontSize = "80px"
                                // cantidad.style.marginTop = "6px"
                            }else if (cantidad.innerHTML.length == 6){
                                cantidad.style.fontSize = "59px"
                                // cantidad.style.marginTop = "33px"
                            } else if (cantidad.innerHTML.length == 7){
                                cantidad.style.fontSize = "50px"
                                // cantidad.style.marginTop = "41px"
                            } else if (cantidad.innerHTML.length == 9){
                                var styleElem = document.head.appendChild(document.createElement("style"));
                                styleElem.innerHTML = "#cantidad:before {font-size: 20px;}";
                                var styleElemAfter = document.head.appendChild(document.createElement("style"));
                                styleElemAfter.innerHTML = "#cantidad:after {font-size: 20px;}";
                                cantidad.style.fontSize = "50px"
                                cantidad.style.marginTop = "21px"    
                                // cantidad.style.marginTop = "50px"       
                            } 
                            else if (cantidad.innerHTML.length == 10){
                                var styleElem = document.head.appendChild(document.createElement("style"));
                                styleElem.innerHTML = "#cantidad:before {font-size: 20px;}";
                                var styleElemAfter = document.head.appendChild(document.createElement("style"));
                                styleElemAfter.innerHTML = "#cantidad:after {font-size: 20px;}";
                                cantidad.style.fontSize = "48px"
                                cantidad.style.marginTop = "18px"    
                            }
                            else if (cantidad.innerHTML.length == 11){
                                var styleElem = document.head.appendChild(document.createElement("style"));
                                styleElem.innerHTML = "#cantidad:before {font-size: 20px;}";
                                var styleElemAfter = document.head.appendChild(document.createElement("style"));
                                styleElemAfter.innerHTML = "#cantidad:after {font-size: 20px;}";
                                cantidad.style.fontSize = "45px"
                                cantidad.style.marginTop = "21px"    
                            }
                            else if (cantidad.innerHTML.length == 12){
                                var styleElem = document.head.appendChild(document.createElement("style"));
                                styleElem.innerHTML = "#cantidad:before {font-size: 20px;}";
                                var styleElemAfter = document.head.appendChild(document.createElement("style"));
                                styleElemAfter.innerHTML = "#cantidad:after {font-size: 20px;}";
                                cantidad.style.fontSize = "40px"
                                cantidad.style.marginTop = "21px"    
                            }
                            else if (cantidad.innerHTML.length >= 13){
                                var styleElem = document.head.appendChild(document.createElement("style"));
                                styleElem.innerHTML = "#cantidad:before {font-size: 15px;}";
                                var styleElemAfter = document.head.appendChild(document.createElement("style"));
                                styleElemAfter.innerHTML = "#cantidad:after {font-size: 15px;}";
                                cantidad.style.fontSize = "30px"
                                cantidad.style.marginTop = "27px"    
                            }
                            else{
                                cantidad.style.fontSize = "90px"
                                cantidad.style.marginTop = "-5px" 
                            }

                            console.log(cantidad.innerHTML.length)

                            console.log("the ramndom number", random)
                            console.log(cantidad.innerHTML )

                            anime({
                                targets: '.aNumber',
                                scale: 1.2,
                                marginTop: 3
                            })
                            if (thenumbers > 80) {
                                clearInterval(intval);
                                thenumbers = 0;
                                anime({
                                    targets: '.aNumber',
                                    scale: 1,
                                    marginTop: 0
                                })
                            }

                            // cantidad.innerHTML = numberFormat2.format(cantidad.innerHTML);
                        }

                       

                    }


                    function alcancia(){

                        anime({
                                targets: '.rCantidad',
                                
                                keyframes: [

                                    {scale: 1.2, translateY: 280, color: 'rgba(1,1,1, .0)', duration: 300},
                                    
                                    // {translateY: 265, color: 'rgba(1,1,1, .5)'},
                                    
                                ],
                                marginTop: 3,
                                easing: 'easeInElastic(1, .6)'
                                // easing: 'linear'
                            })
                            if (thenumbers > 180) {
                                clearInterval(intval);
                                thenumbers = 0;
                                anime({
                                    targets: '.rCantidad',
                                    scale: 1,
                                    marginTop: 0
                                })
                            }
                    }
                  
                    

                    function formBorrarFirst(){
                        anime({
                                targets: '.contenedorBorrarSistema',
                                
                                keyframes: [

                                    {scale: 1, translateX: -4180, color: 'rgba(1,1,1, .0)', duration: 0},
                                    
                                    // {translateY: 265, color: 'rgba(1,1,1, .5)'},
                                    
                                ],
                                // marginTop: 3,
                                // easing: 'easeInElastic(1, .6)'
                                // easing: 'linear'
                            })
                    }


                    function formBorrarThird(){
                        anime({
                                targets: '.contenedorBorrarSistema',
                                
                                keyframes: [

                                    {scale: 1, translateX: -4180, color: 'rgba(1,1,1, .0)', duration: 2000},
                                    
                                    // {translateY: 265, color: 'rgba(1,1,1, .5)'},
                                    
                                ],
                                // marginTop: 3,
                                // easing: 'easeInElastic(1, .6)'
                                // easing: 'linear'
                            })
                    }



                    function formBorrarSecond(){

                        anime({
                                targets: '.contenedorBorrarSistema',
                                
                                keyframes: [

                                    {scale: 1, translateX: 0, color: 'rgba(1,1,1, .0)', duration: 600},
                                    
                                    // {translateY: 265, color: 'rgba(1,1,1, .5)'},
                                    
                                ],
                                // marginTop: 3,
                                easing: 'easeInElastic(1, .6)'
                                // easing: 'linear'
                            })
                            if (thenumbers > 180) {
                                clearInterval(intval);
                                thenumbers = 0;
                                anime({
                                    targets: '.rCantidad',
                                    scale: 1,
                                    marginTop: 0
                                })
                            }
                        }

                    formBorrarFirst()

                    
                    
                    
                    // PARA ARCHIVAR EL SISTEMA SE USAN ESTOS BOTONES    contenedorArchivarSistema
                    
                    
                    function formBorrarArchivar(){
                        var btnArchivar = document.getElementById("btnArchivar")
                    }





                    function formArchivarFirst(){
                        anime({
                                targets: '.contenedorArchivarSistema',
                                
                                keyframes: [

                                    {scale: 1, translateX: -4180, color: 'rgba(1,1,1, .0)', duration: 0},
                                    
                                    // {translateY: 265, color: 'rgba(1,1,1, .5)'},
                                    
                                ],
                                // marginTop: 3,
                                // easing: 'easeInElastic(1, .6)'
                                // easing: 'linear'
                            })
                    }


                    function formArchivarThird(){
                        anime({
                                targets: '.contenedorArchivarSistema',
                                
                                keyframes: [

                                    {scale: 1, translateX: -4180, color: 'rgba(1,1,1, .0)', duration: 2000},
                                    
                                    // {translateY: 265, color: 'rgba(1,1,1, .5)'},
                                    
                                ],
                                // marginTop: 3,
                                // easing: 'easeInElastic(1, .6)'
                                // easing: 'linear'
                            })
                    }



                    function formArchivarSecond(){

                        anime({
                                targets: '.contenedorArchivarSistema',
                                
                                keyframes: [

                                    {scale: 1, translateX: 0, color: 'rgba(1,1,1, .0)', duration: 600},
                                    
                                    // {translateY: 265, color: 'rgba(1,1,1, .5)'},
                                    
                                ],
                                // marginTop: 3,
                                easing: 'easeInElastic(1, .6)'
                                // easing: 'linear'
                            })
                            if (thenumbers > 180) {
                                clearInterval(intval);
                                thenumbers = 0;
                                anime({
                                    targets: '.rCantidad',
                                    scale: 1,
                                    marginTop: 0
                                })
                            }
                        }

                    formArchivarFirst()

                    // END DE ARCHIVAR



                    function firstRandom(){
                        btnFirst.style.display = "none";
                        getMyNumber();
                        otro.style.display = "inherit";
                        ahorrar.style.display = "inherit";
                    }   

                    function printNumber() {
                        console.log("here the save");
                        console.log(cantidad.innerHTML);
                        cantidad.innerHTML = 0;
                        
                    }

                    // console.log(random)
                    console.log(typeof getArray);
                    console.log(getArray);
                    console.log(getArray.length);

                    // anime({
                    //     targets: '.number .nCantidad',
                    //     translateX: function(el) {
                    //         return el.getAttribute('data-x');
                    //     },
                    //     translateY: function(el, i) {
                    //         return 50 + (-50 * i);
                    //     },
                    //     scale: function(el, i, l) {
                    //         return (l - i) + .25;
                    //     },
                    //     rotate: function() { return anime.random(-360, 360); },
                    //     borderRadius: function() { return ['50%', anime.random(10, 35) + '%']; },
                    //     duration: function() { return anime.random(1200, 1800); },
                    //     delay: function() { return anime.random(0, 400); },
                    //     direction: 'alternate',
                    //     loop: true
                    // });



                    var numero = document.getElementById("cantidad");
                    function moneyFunction(cifra){
                        const numberFormat2 = new Intl.NumberFormat('en-US');
                        resultado = numberFormat2.format(cifra);
                        numero.innerHTML = resultado;
                        // console.log(numberFormat2.format(moneyNumber.innerHTML));
                    }
                    
                    console.log("#######")
                    moneyFunction(numero)
                    console.log(numero.innerHTML)
                  
                    var loader = document.getElementById("loader")
                    loader.style.display = 'grid'

                    function loaderFunc(){
                        loader.style.display = "none"

                        

                        anime({
                                targets: '.loader',
                                
                                keyframes: [

                                    {scale: 1, translateY: -20, color: 'rgba(1,1,1, .0)'},
                                    
                                    {scale: 1, translateY: 0},
                                    
                                ],
                                // marginTop: 3,
                                // easing: 'easeInElastic(1, .6)'
                                // easing: 'linear'
                            })
                
                    }

                
                    window.addEventListener("load", function(event) {
                        loaderFunc();
                        console.log("Script terminó de cargarse y ejecutarse");
                    });


                    function loaderAnimFunc(){

       

                    anime({
                            targets: '.loaderAnim01',
                            loop: true,
                            // direction: 'reverse',
                            translateY: -30,
                            // marginTop: 3,
                            // easing: 'easeInElastic(1, .6)'
                            // easing: 'linear'
                        })

                    anime({
                        scale: 0.2,
                        targets: '.contentAnim',
                        loop: true,
                        direction: 'reverse',
                        rotate: 360,
                        translateY: -50,
                        // marginTop: 3,
                        // easing: 'easeInElastic(1, .6)'
                        // easing: 'linear'
                    })    

                    }
                    loaderAnimFunc()




    var myCanvas = document.createElement('canvas');

    var myConfetti = confetti.create(myCanvas, {
        resize: true,
        useWorker: true
    });
    myConfetti({
        particleCount: 100,
        spread: 160
        // any other options from the global
        // confetti function
    });

    // let exito = document.querySelectorAll('div.success')

    console.log('INNEER', exito.innerHTML)
    exito.appendChild(myCanvas);

    if (exito.innerHTML.includes('CUMPLISTE')){
        confetti({
            particleCount: 100,
            spread: 70,
            origin: { y: 0.6 },
            colors: ['#FFA941'],
        });
        // success[0].style.color = 'red'
        // success[0].style.backgroundColor = 'red'



    } 





                </script> 


                    <script>
                        barba.init({
                                transitions: [{
                                name: 'opacity-transition',
                                leave(data) {
                                    return gsap.to(data.current.container, {
                                    opacity: 0
                                    });
                                },
                                enter(data) {
                                    return gsap.from(data.next.container, {
                                    opacity: 0
                                    });
                                }
                                }]
                            });
                
                    </script>
   
<!-- </div> -->
   {% endblock %}
        
    
