{% extends 'base.html' %}

{% block title %}CREA TU AHORRO{% endblock %}

{% load static %}

    <div class="lineaTop lSystem"></div>
    {% block content %}
    <section class="sectionSystem">
        
        
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div class="{{ message.tags }}">
                {{ message|safe }}
                <!-- <a href="#" class="close">x</a> -->
            </div>
            {% endfor %}
        </div>
        
        {% else %}
            <!-- <h1 class="titulo">ELIGE COMO QUIERES AHORRAR</h1> -->
            <div>

                <h1 class="titulo"> {{ request.user.username|default:'Guest'|upper }} elige cómo quieres ahorrar!
                    <br />
                    <a class='systemChooseRegresar' href="{% url 'ahorro:dashboard' %}"> &lt; REGRESAR </a>
                </h1>
                
            </div>

     {% endif %}
        
        <div class="contenedorTarjetaPlazos">

            {% for frec in preplazo %}
                <div class="tarjeta t1 sombra choose">
                    <div class="tColor" style="background-color: {{frec.color}};"></div>  
                    <h1 class="tTitulo" style="color: {{frec.color}};">{{ frec.nombre }}</h1>
                    <p style="color: {{frec.color}};">Ahorro total <br>al año:</p>
                    <h3 class="tCantidad" style="color: {{frec.color}};">${{ frec.meta }} mil</h3>
                    <a onMouseOut="this.style.background='{{frec.color}}'" onMouseOver="this.style.background='rgb(255 255 255 / 18%)'" style="background-color: {{frec.color}};">AHORRAR</a>

                    
                </div>
                <a href="{% url 'ahorro:loguser' %}">DE QUE VA ESTO</a>
            {% endfor %}


        <div class="tarjeta t4 sombra unselectable choose">
            <div class="tColor colorChoose" style="background-color: darkorange;"></div>  
            <h1 class="sistemaTitulo" style="color: darkorange;">ALEATORIO</h1>
            <p >Dinos cuanto es tu meta. Escoge la frecuencia y el tiempo. Nosotros te decimos cuanto ahorrar cada vez, no siempre será la misma cantidad.</p>
            <h3 class="tCantidad"></h3>
            <a href="{% url 'ahorro:create' %}" style="background-color: darkorange;">EMPEZAR</a>
        </div>


        <div class="tarjeta t4 sombra unselectable choose">
            <div class="tColor colorChoose" style="background-color: #00ffe7;"></div>  
            <h1 class="sistemaTitulo" style="color: #00ffe7;">CANTIDAD FIJA</h1>
            <p >La cantidad a ahorrar siempre será la misma durante el tiempo que tu escojas hasta llegar a tu meta. <br /> <br /> <span style="font-size: 12px;">Por cuestiones de "redondeo" probablemente ahorres un poco m&aacute;s normalmente 4 pesos extras </span></p>
            <h3 class="tCantidad"></h3>
            <a href="{% url 'ahorro:createFijo' %}" style="background-color: #00ffe7;">EMPEZAR</a>
        </div>

<!-- 
        <div class="tarjeta t4 sombra unselectable">
            <div class="tColor" style="background-color: #B132FD;"></div>  
            <h1 class="tTitulo" style="color: #B132FD;">SIN LIMITE DE TIEMPO</h1>
            <p style="margin-top: 64px; ">Decide la cantidad que siempre vas a ahorrar para llegar a tu meta, tomar&aacute; el tiempo que sea necesario.</p>
            <h3 class="tCantidad"></h3>
            <a href="{% url 'ahorro:create' %}" onMouseOut="this.style.background='#B132FD'" onMouseOver="this.style.background='rgb(12 249 95)'"style="background-color: #B132FD;">EMPEZAR</a>
        </div>


        <div class="tarjeta t4 sombra unselectable">
            <div class="tColor" style="background-color: #60d9ff;"></div>  
            <h1 class="tTitulo" style="color: #60d9ff;">LIBRE SIN LIMITE DE TIEMPO</h1>
            <p style="margin-top: 64px; ">Escoje cada cuanto tiempo ahorrar y cada vez que ahorres tu decides cuanto será, para que poco a poco llegues a tu meta.</p>
            <h3 class="tCantidad"></h3>
            <a href="{% url 'ahorro:create' %}"  onMouseOut="this.style.background='#60d9ff'" onMouseOver="this.style.background='rgb(12 249 95)'"style="background-color: #60d9ff;">EMPEZAR</a>
        </div> -->

        <div class="tarjeta t4 sombra unselectable choose">
            <div class="tColor colorChoose" style="background-color: #03A83D;"></div>  
            <!-- <h1 class="tTitulo" style="color: #03A83D;">META FIJA CANTIDAD VARIABLE</h1> -->
            <h1 class="sistemaTitulo" style="color: #37FB86;">LA META ES AHORRAR</h1>
            <p>Esta opci&oacute;n te ayudar&aacute; a tener las cuentas de tu ahorro más claras, aqu&iacute; <strong>la meta es ahorrar.</strong>     </p>
            <h3 class="tCantidad"></h3>
            <a href="{% url 'ahorro:createLaMetaEsAhorrar' %}" style="background-color: #03A83D;">EMPEZAR</a>
        </div>

        <!-- <div class="tarjeta tarjetaDash t4 sombra">
            <div class="tColor" style="background-color: #03A83D;"></div>  
            <p style="color: #03A83D;">Crea un nuevo AHORRO<br/></p>
            
            
            <a class="btnNuevoAhorro" href="{% url 'ahorro:create' %}" onMouseOut="this.style.background=initial" onMouseOver="this.style.background=initial"style="font-size: 100px; margin: 0; background-color: initial; color: #03A83D;">+</a>
        </div> -->

        </div>

    </section>

    <script src="{% static 'js/vanilla-tilt.min.js' %}"></script>
    {% endblock %}
