{% extends 'base.html' %}

{% block title %}Reset your password{% endblock %}


{% block content %}

<div class="recuperar">

<div class="recuperarInfo">

  
  <h2>¿Recuperar contraseña?</h2>
  
  <p>Escribe la dirección de correo electrónico que registraste para obtener una nueva contraseña.</p>

</div>

<div class="recuperarForm">
  <form action="." method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="ENVIAR EMAIL">
  </form>

</div>



<!-- <a href="{% url 'ahorro:dashboard' %}">Back to dashboard</a> -->

</div>

{% endblock %}
