{% extends 'base.html' %}

{% block title %}Cambia tu contraseña{% endblock %}

{% block content %}

<section class="sectionUser">

    <div class="welcomeText">
<h2>Cambia tu contraseña</h2>
<a href="{% url 'ahorro:dashboard' %}">&lt; REGRESAR &emsp;</a>
</div>

<div class="login-form logForm">
    <div class="formContainer">
        <form action="." method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input id="enviar" type="submit" value="CAMBIAR">
        </form>

    </div>
    
</div>
</section>
{% endblock %}
