{% extends 'base.html' %}

{% block title %}Reinicia tu contraseña{% endblock %}

{% block content %}

<section class="recuperar">

<div class="recuperarInfo">

  <h1>Nueva contraseña</h1>
{% if validlink %}
    <p>
      Por favor, ingresa dos veces tu nueva contraseña:
    </p>
  </div>
  <div class="recuperarForm">

    <form action="." method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <p><input type="submit" value="Change my password" /></p>
    </form>
  {% else %}
    <p>
      El link que usaste para reiniciar tu password es inválido, 
      probablemente ya fue usado, Por favor solicita otro link.
    </p>
  </div>
{% endif %}

</section>

{% endblock %}