<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ahorraahora</title>

    <style>
        body{
            background-color: grey;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        h1{
            color: #313131;
        }
        .bodyText{
            color: #313131;
        }
        .cta{
            color: #313131;
        }
        .despedida{
            color: #cccccc;
        }
    </style>

</head>
<body>

<h1>Hola {{ username }}</h1>
<p class="bodyText">
    Saludos de AhorraAhora
</p>
<p class='bodyText'>Es momento de ahorrar para <strong>{{nombreahorro}}</strong>.</p>

<p class="cta">Entra a esta liga <a class="despedida" href="https://ahorraahora.app"> y sigue ahorrando</a> </p>

<!-- <h3 class="despedida">Sigue ahorrando</h3> -->


</body>
</html>
